@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, p, span {
  font-family: "Roboto", sans-serif;
}

h1, h2 {
  font-size: 20px;
}

p, span, h5 {
  font-size: 15px;
}

@keyframes appear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.header {
  display: flex;
  justify-content: center;
  box-shadow: 0px 5px 30px rgb(145, 144, 144);
}
.header img {
  margin: 10px 0 10px 0;
  width: 180px;
}
footer {
  background-color: #353535;
  color: white;
  display: flex;
  flex-direction: column;
  padding-left: 15px;
}
footer h5 {
  font-family: shrikhand, cursive;
  font-size: 18px;
  margin-top: 10px;
}
@media screen and (min-width: 1024px) {
  footer h5 {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
  }
}
footer ol {
  list-style-type: none;
}
@media screen and (min-width: 1024px) {
  footer ol {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}
footer li {
  display: flex;
  flex-direction: row;
  padding-bottom: 5px;
  margin-bottom: 0px;
}
footer li a {
  color: white;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}
footer li i {
  width: 30px;
}

.header {
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .header img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 10px;
  }
}
.header a {
  width: 50px;
  align-items: center;
  justify-content: left;
  margin-right: 50px;
  position: absolute;
  left: 10px;
}
.header a i {
  padding-left: 15px;
  width: 20px;
  align-items: center;
  color: black;
  font-size: 25px;
  font-weight: bold;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
}
main .restaurant {
  background-color: rgb(236, 233, 233);
  height: auto;
  display: flex;
  flex-direction: column;
}
main .restaurant img {
  height: 250px;
  object-fit: cover;
  object-position: 10% 70%;
  position: relative;
  margin-bottom: -20px;
}
@media screen and (min-width: 1024px) {
  main .restaurant img {
    height: 400px;
  }
}
main .restaurant .restaurant_menu {
  background-color: rgb(236, 233, 233);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
main .restaurant .restaurant_menu .restaurant_menu_title {
  padding: 15px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: rgb(236, 233, 233);
  display: flex;
  flex-direction: row;
  position: relative;
  margin-top: -10px;
}
main .restaurant .restaurant_menu .restaurant_menu_title h1 {
  font-family: "Shrikhand", cursive;
  font-size: 25px;
  font-weight: bold;
}
main .restaurant .restaurant_menu .restaurant_menu_title i {
  width: auto;
  font-size: 25px;
  font-weight: 100;
}
main .restaurant .restaurant_menu .restaurant_menu_title i:hover {
  background: linear-gradient(#9356dc, #ff79da);
  font-weight: 600;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  bottom: 5px;
}
main .restaurant .restaurant_menu .restaurant_menu_all {
  background-color: rgb(236, 233, 233);
  padding: 0px 15px 15px 15px;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 1024px) {
  main .restaurant .restaurant_menu .restaurant_menu_all {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  main .restaurant .restaurant_menu .restaurant_menu_all .restaurant_menu_all_column {
    padding: 5px;
    display: flex;
    flex-direction: column;
    width: 30%;
  }
}
main .restaurant .restaurant_menu .restaurant_menu_all h2 {
  text-transform: uppercase;
  font-weight: 100;
}
@media screen and (min-width: 1024px) {
  main .restaurant .restaurant_menu .restaurant_menu_all h2 {
    width: 10%;
  }
}
main .restaurant .restaurant_menu .restaurant_menu_all .underline {
  background-color: #99e2d0;
  width: 50px;
  height: 3px;
  margin-bottom: 10px;
}
main .restaurant .restaurant_menu .restaurant_menu_all .menu_category .menu_items {
  animation: appear 1s;
  animation-fill-mode: both;
}
main .restaurant .restaurant_menu .restaurant_menu_all .menu_category .menu_items:nth-child(1) {
  animation-delay: 200ms;
}
main .restaurant .restaurant_menu .restaurant_menu_all .menu_category .menu_items:nth-child(2) {
  animation-delay: 400ms;
}
main .restaurant .restaurant_menu .restaurant_menu_all .menu_category .menu_items:nth-child(3) {
  animation-delay: 600ms;
}
main .restaurant .restaurant_menu .restaurant_menu_all .menu_category .menu_items:nth-child(4) {
  animation-delay: 800ms;
}
main .restaurant .restaurant_menu .restaurant_menu_all .menu_info {
  background-color: white;
  margin-bottom: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  white-space: nowrap;
}
main .restaurant .restaurant_menu .restaurant_menu_all .menu_info .menu_info_text {
  display: flex;
  flex-direction: column;
  padding: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
main .restaurant .restaurant_menu .restaurant_menu_all .menu_info .menu_info_text h3 {
  margin-bottom: 5px;
  padding-top: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
}
main .restaurant .restaurant_menu .restaurant_menu_all .menu_info .menu_info_text .menu_info_details {
  overflow: hidden;
  text-overflow: ellipsis;
}
main .restaurant .restaurant_menu .restaurant_menu_all .menu_info .menu_info_price {
  width: 50px;
  display: flex;
  justify-content: end;
  align-items: flex-end;
  font-weight: bold;
  padding-bottom: 10px;
}
main .restaurant .restaurant_menu .restaurant_menu_all .menu_info .menu_check {
  flex: 0%;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #99e2d0;
  border-radius: 0px 10px 10px 0px;
  font-size: xx-large;
  width: 0;
  opacity: 0;
  cursor: pointer;
}
main .restaurant .restaurant_menu .restaurant_menu_all .menu_info:hover .menu_check {
  display: flex;
  opacity: 1;
  padding: 0 10px 0 10px;
  width: 120px;
  transition: all 600ms;
}
main .restaurant .restaurant_menu .restaurant_menu_all .menu_info:hover .menu_check i {
  transition: 800ms;
  transform: rotate(360deg);
}
main .restaurant .main_button {
  background: linear-gradient(167deg, #ff79da, #9356dc);
  box-shadow: 0px 5px 10px 0px rgb(119, 119, 119);
  color: white;
  height: 50px;
  border-radius: 50px;
  border: none;
  width: 60vw;
  max-width: 250px;
  align-self: center;
  cursor: pointer;
  height: 50px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
main .restaurant .main_button:hover {
  box-shadow: 0px 10px 10px 0px rgb(119, 119, 119);
}
main .restaurant .main_button a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  font-family: "Roboto", sans-serif;
}

footer {
  padding-bottom: 20px;
}
@media screen and (min-width: 1024px) {
  footer {
    padding-bottom: 0;
  }
}

/*# sourceMappingURL=menus.css.map */
