//color variables
$primary: #9356dc;
$secondary: #ff79da;
$tertiary: #99e2d0;

$bg-location: rgb(236, 233, 233);
$bg-btn: rgb(236, 233, 233); 

$font-logo: 'Shrikhand' , cursive;
$font-text: 'Roboto' , sans-serif;

$fontsize-title : 20px;
$fontsize-text : 14px;

$shadow: rgb(145, 144, 144);
