.section_location
{
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #eaeaea;
    margin-top: 5px;


        & h3 {
            display: flex;
            justify-content: center;
        }
        & i {
            width: 20px;
        }
}