
    .section_location
        {
            height: 50px;
            display: flex;
            align-items: center;
            background-color: $bg-location;
            margin: 5px 0 0px 0;

                & h3 {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 14px;
                }
                    & i {
                    width: 20px;
                    }
        }

    .section_flex
    {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: auto;
        width: 100%;
        

        #section_presentation {
            
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-between;
            text-align: center;
            height: 250px;
            background: linear-gradient(white,#eaeaea);
            padding: 30px;
            margin-bottom: 25px;
            
                    & h1
                    {
                        width: 100%
                    }  

                    & p {
                        
                        font-size: $fontsize-text;
                    }

                    & .button
                    {
                        background: linear-gradient(167deg, #ff79da, #9356dc);
                        color: white;
                        height: 50px;
                        border-radius: 50px;
                        border: none;
                        width: 60vw;
                        max-width: 250px;
                        align-self: center;
                        cursor: pointer;
                    }
        }
        #section_step
        {
            padding: 20px;
            height: auto;
        
         
            & .section_step_button
            {
                @include  btn;
            }

            & .section_step_button_dif {
                @include btn;
            }
                & span {
                    font-weight: bold;
                }
                
                &__p
                {
                box-shadow: 50% $primary;
                border-radius: 5px;
                }

        }
}