//footer

footer {
    background-color: #353535;
    color: white;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    
    & h5{
        font-family: shrikhand, cursive;
        font-size: 18px;
        margin-top: 10px;
        // padding-top: 10px;
    }

    & ol {
        list-style-type: none;
    }

        & li {
            display: flex;
            flex-direction: row;
            padding-bottom: 5px;
            margin-bottom: 0;
        }
            & a {
                color: white;
                text-decoration: none;
                font-family: $font-text;
            }

            & i {
                width: 30px;
            }
}